<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Europe/Andorra</key>
    <array>
      <real>42.5</real>
      <real>1.517</real>
    </array>
    <key>Asia/Dubai</key>
    <array>
      <real>25.3</real>
      <real>55.3</real>
    </array>
    <key>Asia/Kabul</key>
    <array>
      <real>34.517</real>
      <real>69.2</real>
    </array>
    <key>Europe/Tirane</key>
    <array>
      <real>41.333</real>
      <real>19.833</real>
    </array>
    <key>Asia/Yerevan</key>
    <array>
      <real>40.183</real>
      <real>44.5</real>
    </array>
    <key>Antarctica/Casey</key>
    <array>
      <real>-66.283</real>
      <real>110.517</real>
    </array>
    <key>Antarctica/Davis</key>
    <array>
      <real>-68.583</real>
      <real>77.967</real>
    </array>
    <key>Antarctica/DumontDUrville</key>
    <array>
      <real>-66.667</real>
      <real>140.017</real>
    </array>
    <key>Antarctica/Mawson</key>
    <array>
      <real>-67.6</real>
      <real>62.883</real>
    </array>
    <key>Antarctica/Palmer</key>
    <array>
      <real>-64.8</real>
      <real>-64.1</real>
    </array>
    <key>Antarctica/Rothera</key>
    <array>
      <real>-67.567</real>
      <real>-68.133</real>
    </array>
    <key>Antarctica/Syowa</key>
    <array>
      <real>-69.006</real>
      <real>39.59</real>
    </array>
    <key>Antarctica/Troll</key>
    <array>
      <real>-72.011</real>
      <real>2.535</real>
    </array>
    <key>Antarctica/Vostok</key>
    <array>
      <real>-78.4</real>
      <real>106.9</real>
    </array>
    <key>America/Argentina/Buenos_Aires</key>
    <array>
      <real>-34.6</real>
      <real>-58.45</real>
    </array>
    <key>America/Argentina/Cordoba</key>
    <array>
      <real>-31.4</real>
      <real>-64.183</real>
    </array>
    <key>America/Argentina/Salta</key>
    <array>
      <real>-24.783</real>
      <real>-65.417</real>
    </array>
    <key>America/Argentina/Jujuy</key>
    <array>
      <real>-24.183</real>
      <real>-65.3</real>
    </array>
    <key>America/Argentina/Tucuman</key>
    <array>
      <real>-26.817</real>
      <real>-65.217</real>
    </array>
    <key>America/Argentina/Catamarca</key>
    <array>
      <real>-28.467</real>
      <real>-65.783</real>
    </array>
    <key>America/Argentina/La_Rioja</key>
    <array>
      <real>-29.433</real>
      <real>-66.85</real>
    </array>
    <key>America/Argentina/San_Juan</key>
    <array>
      <real>-31.533</real>
      <real>-68.517</real>
    </array>
    <key>America/Argentina/Mendoza</key>
    <array>
      <real>-32.883</real>
      <real>-68.817</real>
    </array>
    <key>America/Argentina/San_Luis</key>
    <array>
      <real>-33.317</real>
      <real>-66.35</real>
    </array>
    <key>America/Argentina/Rio_Gallegos</key>
    <array>
      <real>-51.633</real>
      <real>-69.217</real>
    </array>
    <key>America/Argentina/Ushuaia</key>
    <array>
      <real>-54.8</real>
      <real>-68.3</real>
    </array>
    <key>Pacific/Pago_Pago</key>
    <array>
      <real>-14.267</real>
      <real>-170.7</real>
    </array>
    <key>Europe/Vienna</key>
    <array>
      <real>48.217</real>
      <real>16.333</real>
    </array>
    <key>Australia/Lord_Howe</key>
    <array>
      <real>-31.55</real>
      <real>159.083</real>
    </array>
    <key>Antarctica/Macquarie</key>
    <array>
      <real>-54.5</real>
      <real>158.95</real>
    </array>
    <key>Australia/Hobart</key>
    <array>
      <real>-42.883</real>
      <real>147.317</real>
    </array>
    <key>Australia/Currie</key>
    <array>
      <real>-39.933</real>
      <real>143.867</real>
    </array>
    <key>Australia/Melbourne</key>
    <array>
      <real>-37.817</real>
      <real>144.967</real>
    </array>
    <key>Australia/Sydney</key>
    <array>
      <real>-33.867</real>
      <real>151.217</real>
    </array>
    <key>Australia/Broken_Hill</key>
    <array>
      <real>-31.95</real>
      <real>141.45</real>
    </array>
    <key>Australia/Brisbane</key>
    <array>
      <real>-27.467</real>
      <real>153.033</real>
    </array>
    <key>Australia/Lindeman</key>
    <array>
      <real>-20.267</real>
      <integer>149</integer>
    </array>
    <key>Australia/Adelaide</key>
    <array>
      <real>-34.917</real>
      <real>138.583</real>
    </array>
    <key>Australia/Darwin</key>
    <array>
      <real>-12.467</real>
      <real>130.833</real>
    </array>
    <key>Australia/Perth</key>
    <array>
      <real>-31.95</real>
      <real>115.85</real>
    </array>
    <key>Australia/Eucla</key>
    <array>
      <real>-31.717</real>
      <real>128.867</real>
    </array>
    <key>Asia/Baku</key>
    <array>
      <real>40.383</real>
      <real>49.85</real>
    </array>
    <key>America/Barbados</key>
    <array>
      <real>13.1</real>
      <real>-59.617</real>
    </array>
    <key>Asia/Dhaka</key>
    <array>
      <real>23.717</real>
      <real>90.417</real>
    </array>
    <key>Europe/Brussels</key>
    <array>
      <real>50.833</real>
      <real>4.333</real>
    </array>
    <key>Europe/Sofia</key>
    <array>
      <real>42.683</real>
      <real>23.317</real>
    </array>
    <key>Atlantic/Bermuda</key>
    <array>
      <real>32.283</real>
      <real>-64.767</real>
    </array>
    <key>Asia/Brunei</key>
    <array>
      <real>4.933</real>
      <real>114.917</real>
    </array>
    <key>America/La_Paz</key>
    <array>
      <real>-16.5</real>
      <real>-68.15</real>
    </array>
    <key>America/Noronha</key>
    <array>
      <real>-3.85</real>
      <real>-32.417</real>
    </array>
    <key>America/Belem</key>
    <array>
      <real>-1.45</real>
      <real>-48.483</real>
    </array>
    <key>America/Fortaleza</key>
    <array>
      <real>-3.717</real>
      <real>-38.5</real>
    </array>
    <key>America/Recife</key>
    <array>
      <real>-8.05</real>
      <real>-34.9</real>
    </array>
    <key>America/Araguaina</key>
    <array>
      <real>-7.2</real>
      <real>-48.2</real>
    </array>
    <key>America/Maceio</key>
    <array>
      <real>-9.667</real>
      <real>-35.717</real>
    </array>
    <key>America/Bahia</key>
    <array>
      <real>-12.983</real>
      <real>-38.517</real>
    </array>
    <key>America/Sao_Paulo</key>
    <array>
      <real>-23.533</real>
      <real>-46.617</real>
    </array>
    <key>America/Campo_Grande</key>
    <array>
      <real>-20.45</real>
      <real>-54.617</real>
    </array>
    <key>America/Cuiaba</key>
    <array>
      <real>-15.583</real>
      <real>-56.083</real>
    </array>
    <key>America/Santarem</key>
    <array>
      <real>-2.433</real>
      <real>-54.867</real>
    </array>
    <key>America/Porto_Velho</key>
    <array>
      <real>-8.767</real>
      <real>-63.9</real>
    </array>
    <key>America/Boa_Vista</key>
    <array>
      <real>2.817</real>
      <real>-60.667</real>
    </array>
    <key>America/Manaus</key>
    <array>
      <real>-3.133</real>
      <real>-60.017</real>
    </array>
    <key>America/Eirunepe</key>
    <array>
      <real>-6.667</real>
      <real>-69.867</real>
    </array>
    <key>America/Rio_Branco</key>
    <array>
      <real>-9.967</real>
      <real>-67.8</real>
    </array>
    <key>America/Nassau</key>
    <array>
      <real>25.083</real>
      <real>-77.35</real>
    </array>
    <key>Asia/Thimphu</key>
    <array>
      <real>27.467</real>
      <real>89.65</real>
    </array>
    <key>Europe/Minsk</key>
    <array>
      <real>53.9</real>
      <real>27.567</real>
    </array>
    <key>America/Belize</key>
    <array>
      <real>17.5</real>
      <real>-88.2</real>
    </array>
    <key>America/St_Johns</key>
    <array>
      <real>47.567</real>
      <real>-52.717</real>
    </array>
    <key>America/Halifax</key>
    <array>
      <real>44.65</real>
      <real>-63.6</real>
    </array>
    <key>America/Glace_Bay</key>
    <array>
      <real>46.2</real>
      <real>-59.95</real>
    </array>
    <key>America/Moncton</key>
    <array>
      <real>46.1</real>
      <real>-64.783</real>
    </array>
    <key>America/Goose_Bay</key>
    <array>
      <real>53.333</real>
      <real>-60.417</real>
    </array>
    <key>America/Blanc-Sablon</key>
    <array>
      <real>51.417</real>
      <real>-57.117</real>
    </array>
    <key>America/Toronto</key>
    <array>
      <real>43.65</real>
      <real>-79.383</real>
    </array>
    <key>America/Nipigon</key>
    <array>
      <real>49.017</real>
      <real>-88.267</real>
    </array>
    <key>America/Thunder_Bay</key>
    <array>
      <real>48.383</real>
      <real>-89.25</real>
    </array>
    <key>America/Iqaluit</key>
    <array>
      <real>63.733</real>
      <real>-68.467</real>
    </array>
    <key>America/Pangnirtung</key>
    <array>
      <real>66.133</real>
      <real>-65.733</real>
    </array>
    <key>America/Atikokan</key>
    <array>
      <real>48.759</real>
      <real>-91.622</real>
    </array>
    <key>America/Winnipeg</key>
    <array>
      <real>49.883</real>
      <real>-97.15</real>
    </array>
    <key>America/Rainy_River</key>
    <array>
      <real>48.717</real>
      <real>-94.567</real>
    </array>
    <key>America/Resolute</key>
    <array>
      <real>74.696</real>
      <real>-94.829</real>
    </array>
    <key>America/Rankin_Inlet</key>
    <array>
      <real>62.817</real>
      <real>-92.083</real>
    </array>
    <key>America/Regina</key>
    <array>
      <real>50.4</real>
      <real>-104.65</real>
    </array>
    <key>America/Swift_Current</key>
    <array>
      <real>50.283</real>
      <real>-107.833</real>
    </array>
    <key>America/Edmonton</key>
    <array>
      <real>53.55</real>
      <real>-113.467</real>
    </array>
    <key>America/Cambridge_Bay</key>
    <array>
      <real>69.114</real>
      <real>-105.053</real>
    </array>
    <key>America/Yellowknife</key>
    <array>
      <real>62.45</real>
      <real>-114.35</real>
    </array>
    <key>America/Inuvik</key>
    <array>
      <real>68.35</real>
      <real>-133.717</real>
    </array>
    <key>America/Creston</key>
    <array>
      <real>49.1</real>
      <real>-116.517</real>
    </array>
    <key>America/Dawson_Creek</key>
    <array>
      <real>59.767</real>
      <real>-120.233</real>
    </array>
    <key>America/Fort_Nelson</key>
    <array>
      <real>58.8</real>
      <real>-122.7</real>
    </array>
    <key>America/Vancouver</key>
    <array>
      <real>49.267</real>
      <real>-123.117</real>
    </array>
    <key>America/Whitehorse</key>
    <array>
      <real>60.717</real>
      <real>-135.05</real>
    </array>
    <key>America/Dawson</key>
    <array>
      <real>64.067</real>
      <real>-139.417</real>
    </array>
    <key>Indian/Cocos</key>
    <array>
      <real>-12.167</real>
      <real>96.917</real>
    </array>
    <key>Europe/Zurich</key>
    <array>
      <real>47.383</real>
      <real>8.533</real>
    </array>
    <key>Africa/Abidjan</key>
    <array>
      <real>5.317</real>
      <real>-4.033</real>
    </array>
    <key>Pacific/Rarotonga</key>
    <array>
      <real>-21.233</real>
      <real>-159.767</real>
    </array>
    <key>America/Santiago</key>
    <array>
      <real>-33.45</real>
      <real>-70.667</real>
    </array>
    <key>America/Punta_Arenas</key>
    <array>
      <real>-53.15</real>
      <real>-70.917</real>
    </array>
    <key>Pacific/Easter</key>
    <array>
      <real>-27.15</real>
      <real>-109.433</real>
    </array>
    <key>Asia/Shanghai</key>
    <array>
      <real>31.233</real>
      <real>121.467</real>
    </array>
    <key>Asia/Urumqi</key>
    <array>
      <real>43.8</real>
      <real>87.583</real>
    </array>
    <key>America/Bogota</key>
    <array>
      <real>4.6</real>
      <real>-74.083</real>
    </array>
    <key>America/Costa_Rica</key>
    <array>
      <real>9.933</real>
      <real>-84.083</real>
    </array>
    <key>America/Havana</key>
    <array>
      <real>23.133</real>
      <real>-82.367</real>
    </array>
    <key>Atlantic/Cape_Verde</key>
    <array>
      <real>14.917</real>
      <real>-23.517</real>
    </array>
    <key>America/Curacao</key>
    <array>
      <real>12.183</real>
      <integer>-69</integer>
    </array>
    <key>Indian/Christmas</key>
    <array>
      <real>-10.417</real>
      <real>105.717</real>
    </array>
    <key>Asia/Nicosia</key>
    <array>
      <real>35.167</real>
      <real>33.367</real>
    </array>
    <key>Asia/Famagusta</key>
    <array>
      <real>35.117</real>
      <real>33.95</real>
    </array>
    <key>Europe/Prague</key>
    <array>
      <real>50.083</real>
      <real>14.433</real>
    </array>
    <key>Europe/Berlin</key>
    <array>
      <real>52.5</real>
      <real>13.367</real>
    </array>
    <key>Europe/Copenhagen</key>
    <array>
      <real>55.667</real>
      <real>12.583</real>
    </array>
    <key>America/Santo_Domingo</key>
    <array>
      <real>18.467</real>
      <real>-69.9</real>
    </array>
    <key>Africa/Algiers</key>
    <array>
      <real>36.783</real>
      <real>3.05</real>
    </array>
    <key>America/Guayaquil</key>
    <array>
      <real>-2.167</real>
      <real>-79.833</real>
    </array>
    <key>Pacific/Galapagos</key>
    <array>
      <real>-0.9</real>
      <real>-89.6</real>
    </array>
    <key>Europe/Tallinn</key>
    <array>
      <real>59.417</real>
      <real>24.75</real>
    </array>
    <key>Africa/Cairo</key>
    <array>
      <real>30.05</real>
      <real>31.25</real>
    </array>
    <key>Africa/El_Aaiun</key>
    <array>
      <real>27.15</real>
      <real>-13.2</real>
    </array>
    <key>Europe/Madrid</key>
    <array>
      <real>40.4</real>
      <real>-3.683</real>
    </array>
    <key>Africa/Ceuta</key>
    <array>
      <real>35.883</real>
      <real>-5.317</real>
    </array>
    <key>Atlantic/Canary</key>
    <array>
      <real>28.1</real>
      <real>-15.4</real>
    </array>
    <key>Europe/Helsinki</key>
    <array>
      <real>60.167</real>
      <real>24.967</real>
    </array>
    <key>Pacific/Fiji</key>
    <array>
      <real>-18.133</real>
      <real>178.417</real>
    </array>
    <key>Atlantic/Stanley</key>
    <array>
      <real>-51.7</real>
      <real>-57.85</real>
    </array>
    <key>Pacific/Chuuk</key>
    <array>
      <real>7.417</real>
      <real>151.783</real>
    </array>
    <key>Pacific/Pohnpei</key>
    <array>
      <real>6.967</real>
      <real>158.217</real>
    </array>
    <key>Pacific/Kosrae</key>
    <array>
      <real>5.317</real>
      <real>162.983</real>
    </array>
    <key>Atlantic/Faroe</key>
    <array>
      <real>62.017</real>
      <real>-6.767</real>
    </array>
    <key>Europe/Paris</key>
    <array>
      <real>48.867</real>
      <real>2.333</real>
    </array>
    <key>Europe/London</key>
    <array>
      <real>51.508</real>
      <real>-0.125</real>
    </array>
    <key>Asia/Tbilisi</key>
    <array>
      <real>41.717</real>
      <real>44.817</real>
    </array>
    <key>America/Cayenne</key>
    <array>
      <real>4.933</real>
      <real>-52.333</real>
    </array>
    <key>Africa/Accra</key>
    <array>
      <real>5.55</real>
      <real>-0.217</real>
    </array>
    <key>Europe/Gibraltar</key>
    <array>
      <real>36.133</real>
      <real>-5.35</real>
    </array>
    <key>America/Godthab</key>
    <array>
      <real>64.183</real>
      <real>-51.733</real>
    </array>
    <key>America/Danmarkshavn</key>
    <array>
      <real>76.767</real>
      <real>-18.667</real>
    </array>
    <key>America/Scoresbysund</key>
    <array>
      <real>70.483</real>
      <real>-21.967</real>
    </array>
    <key>America/Thule</key>
    <array>
      <real>76.567</real>
      <real>-68.783</real>
    </array>
    <key>Europe/Athens</key>
    <array>
      <real>37.967</real>
      <real>23.717</real>
    </array>
    <key>Atlantic/South_Georgia</key>
    <array>
      <real>-54.267</real>
      <real>-36.533</real>
    </array>
    <key>America/Guatemala</key>
    <array>
      <real>14.633</real>
      <real>-90.517</real>
    </array>
    <key>Pacific/Guam</key>
    <array>
      <real>13.467</real>
      <real>144.75</real>
    </array>
    <key>Africa/Bissau</key>
    <array>
      <real>11.85</real>
      <real>-15.583</real>
    </array>
    <key>America/Guyana</key>
    <array>
      <real>6.8</real>
      <real>-58.167</real>
    </array>
    <key>Asia/Hong_Kong</key>
    <array>
      <real>22.283</real>
      <real>114.15</real>
    </array>
    <key>America/Tegucigalpa</key>
    <array>
      <real>14.1</real>
      <real>-87.217</real>
    </array>
    <key>America/Port-au-Prince</key>
    <array>
      <real>18.533</real>
      <real>-72.333</real>
    </array>
    <key>Europe/Budapest</key>
    <array>
      <real>47.5</real>
      <real>19.083</real>
    </array>
    <key>Asia/Jakarta</key>
    <array>
      <real>-6.167</real>
      <real>106.8</real>
    </array>
    <key>Asia/Pontianak</key>
    <array>
      <real>-0.033</real>
      <real>109.333</real>
    </array>
    <key>Asia/Makassar</key>
    <array>
      <real>-5.117</real>
      <real>119.4</real>
    </array>
    <key>Asia/Jayapura</key>
    <array>
      <real>-2.533</real>
      <real>140.7</real>
    </array>
    <key>Europe/Dublin</key>
    <array>
      <real>53.333</real>
      <real>-6.25</real>
    </array>
    <key>Asia/Jerusalem</key>
    <array>
      <real>31.781</real>
      <real>35.224</real>
    </array>
    <key>Asia/Kolkata</key>
    <array>
      <real>22.533</real>
      <real>88.367</real>
    </array>
    <key>Indian/Chagos</key>
    <array>
      <real>-7.333</real>
      <real>72.417</real>
    </array>
    <key>Asia/Baghdad</key>
    <array>
      <real>33.35</real>
      <real>44.417</real>
    </array>
    <key>Asia/Tehran</key>
    <array>
      <real>35.667</real>
      <real>51.433</real>
    </array>
    <key>Atlantic/Reykjavik</key>
    <array>
      <real>64.15</real>
      <real>-21.85</real>
    </array>
    <key>Europe/Rome</key>
    <array>
      <real>41.9</real>
      <real>12.483</real>
    </array>
    <key>America/Jamaica</key>
    <array>
      <real>17.968</real>
      <real>-76.793</real>
    </array>
    <key>Asia/Amman</key>
    <array>
      <real>31.95</real>
      <real>35.933</real>
    </array>
    <key>Asia/Tokyo</key>
    <array>
      <real>35.654</real>
      <real>139.745</real>
    </array>
    <key>Africa/Nairobi</key>
    <array>
      <real>-1.283</real>
      <real>36.817</real>
    </array>
    <key>Asia/Bishkek</key>
    <array>
      <real>42.9</real>
      <real>74.6</real>
    </array>
    <key>Pacific/Tarawa</key>
    <array>
      <real>1.417</real>
      <integer>173</integer>
    </array>
    <key>Pacific/Enderbury</key>
    <array>
      <real>-3.133</real>
      <real>-171.083</real>
    </array>
    <key>Pacific/Kiritimati</key>
    <array>
      <real>1.867</real>
      <real>-157.333</real>
    </array>
    <key>Asia/Pyongyang</key>
    <array>
      <real>39.017</real>
      <real>125.75</real>
    </array>
    <key>Asia/Seoul</key>
    <array>
      <real>37.55</real>
      <real>126.967</real>
    </array>
    <key>Asia/Almaty</key>
    <array>
      <real>43.25</real>
      <real>76.95</real>
    </array>
    <key>Asia/Qyzylorda</key>
    <array>
      <real>44.8</real>
      <real>65.467</real>
    </array>
    <key>Asia/Qostanay</key>
    <array>
      <real>53.2</real>
      <real>63.617</real>
    </array>
    <key>Asia/Aqtobe</key>
    <array>
      <real>50.283</real>
      <real>57.167</real>
    </array>
    <key>Asia/Aqtau</key>
    <array>
      <real>44.517</real>
      <real>50.267</real>
    </array>
    <key>Asia/Atyrau</key>
    <array>
      <real>47.117</real>
      <real>51.933</real>
    </array>
    <key>Asia/Oral</key>
    <array>
      <real>51.217</real>
      <real>51.35</real>
    </array>
    <key>Asia/Beirut</key>
    <array>
      <real>33.883</real>
      <real>35.5</real>
    </array>
    <key>Asia/Colombo</key>
    <array>
      <real>6.933</real>
      <real>79.85</real>
    </array>
    <key>Africa/Monrovia</key>
    <array>
      <real>6.3</real>
      <real>-10.783</real>
    </array>
    <key>Europe/Vilnius</key>
    <array>
      <real>54.683</real>
      <real>25.317</real>
    </array>
    <key>Europe/Luxembourg</key>
    <array>
      <real>49.6</real>
      <real>6.15</real>
    </array>
    <key>Europe/Riga</key>
    <array>
      <real>56.95</real>
      <real>24.1</real>
    </array>
    <key>Africa/Tripoli</key>
    <array>
      <real>32.9</real>
      <real>13.183</real>
    </array>
    <key>Africa/Casablanca</key>
    <array>
      <real>33.65</real>
      <real>-7.583</real>
    </array>
    <key>Europe/Monaco</key>
    <array>
      <real>43.7</real>
      <real>7.383</real>
    </array>
    <key>Europe/Chisinau</key>
    <array>
      <integer>47</integer>
      <real>28.833</real>
    </array>
    <key>Pacific/Majuro</key>
    <array>
      <real>7.15</real>
      <real>171.2</real>
    </array>
    <key>Pacific/Kwajalein</key>
    <array>
      <real>9.083</real>
      <real>167.333</real>
    </array>
    <key>Asia/Yangon</key>
    <array>
      <real>16.783</real>
      <real>96.167</real>
    </array>
    <key>Asia/Ulaanbaatar</key>
    <array>
      <real>47.917</real>
      <real>106.883</real>
    </array>
    <key>Asia/Hovd</key>
    <array>
      <real>48.017</real>
      <real>91.65</real>
    </array>
    <key>Asia/Choibalsan</key>
    <array>
      <real>48.067</real>
      <real>114.5</real>
    </array>
    <key>Asia/Macau</key>
    <array>
      <real>22.197</real>
      <real>113.542</real>
    </array>
    <key>America/Martinique</key>
    <array>
      <real>14.6</real>
      <real>-61.083</real>
    </array>
    <key>Europe/Malta</key>
    <array>
      <real>35.9</real>
      <real>14.517</real>
    </array>
    <key>Indian/Mauritius</key>
    <array>
      <real>-20.167</real>
      <real>57.5</real>
    </array>
    <key>Indian/Maldives</key>
    <array>
      <real>4.167</real>
      <real>73.5</real>
    </array>
    <key>America/Mexico_City</key>
    <array>
      <real>19.4</real>
      <real>-99.15</real>
    </array>
    <key>America/Cancun</key>
    <array>
      <real>21.083</real>
      <real>-86.767</real>
    </array>
    <key>America/Merida</key>
    <array>
      <real>20.967</real>
      <real>-89.617</real>
    </array>
    <key>America/Monterrey</key>
    <array>
      <real>25.667</real>
      <real>-100.317</real>
    </array>
    <key>America/Matamoros</key>
    <array>
      <real>25.833</real>
      <real>-97.5</real>
    </array>
    <key>America/Mazatlan</key>
    <array>
      <real>23.217</real>
      <real>-106.417</real>
    </array>
    <key>America/Chihuahua</key>
    <array>
      <real>28.633</real>
      <real>-106.083</real>
    </array>
    <key>America/Ojinaga</key>
    <array>
      <real>29.567</real>
      <real>-104.417</real>
    </array>
    <key>America/Hermosillo</key>
    <array>
      <real>29.067</real>
      <real>-110.967</real>
    </array>
    <key>America/Tijuana</key>
    <array>
      <real>32.533</real>
      <real>-117.017</real>
    </array>
    <key>America/Bahia_Banderas</key>
    <array>
      <real>20.8</real>
      <real>-105.25</real>
    </array>
    <key>Asia/Kuala_Lumpur</key>
    <array>
      <real>3.167</real>
      <real>101.7</real>
    </array>
    <key>Asia/Kuching</key>
    <array>
      <real>1.55</real>
      <real>110.333</real>
    </array>
    <key>Africa/Maputo</key>
    <array>
      <real>-25.967</real>
      <real>32.583</real>
    </array>
    <key>Africa/Windhoek</key>
    <array>
      <real>-22.567</real>
      <real>17.1</real>
    </array>
    <key>Pacific/Noumea</key>
    <array>
      <real>-22.267</real>
      <real>166.45</real>
    </array>
    <key>Pacific/Norfolk</key>
    <array>
      <real>-29.05</real>
      <real>167.967</real>
    </array>
    <key>Africa/Lagos</key>
    <array>
      <real>6.45</real>
      <real>3.4</real>
    </array>
    <key>America/Managua</key>
    <array>
      <real>12.15</real>
      <real>-86.283</real>
    </array>
    <key>Europe/Amsterdam</key>
    <array>
      <real>52.367</real>
      <real>4.9</real>
    </array>
    <key>Europe/Oslo</key>
    <array>
      <real>59.917</real>
      <real>10.75</real>
    </array>
    <key>Asia/Kathmandu</key>
    <array>
      <real>27.717</real>
      <real>85.317</real>
    </array>
    <key>Pacific/Nauru</key>
    <array>
      <real>-0.517</real>
      <real>166.917</real>
    </array>
    <key>Pacific/Niue</key>
    <array>
      <real>-19.017</real>
      <real>-169.917</real>
    </array>
    <key>Pacific/Auckland</key>
    <array>
      <real>-36.867</real>
      <real>174.767</real>
    </array>
    <key>Pacific/Chatham</key>
    <array>
      <real>-43.95</real>
      <real>-176.55</real>
    </array>
    <key>America/Panama</key>
    <array>
      <real>8.967</real>
      <real>-79.533</real>
    </array>
    <key>America/Lima</key>
    <array>
      <real>-12.05</real>
      <real>-77.05</real>
    </array>
    <key>Pacific/Tahiti</key>
    <array>
      <real>-17.533</real>
      <real>-149.567</real>
    </array>
    <key>Pacific/Marquesas</key>
    <array>
      <integer>-9</integer>
      <real>-139.5</real>
    </array>
    <key>Pacific/Gambier</key>
    <array>
      <real>-23.133</real>
      <real>-134.95</real>
    </array>
    <key>Pacific/Port_Moresby</key>
    <array>
      <real>-9.5</real>
      <real>147.167</real>
    </array>
    <key>Pacific/Bougainville</key>
    <array>
      <real>-6.217</real>
      <real>155.567</real>
    </array>
    <key>Asia/Manila</key>
    <array>
      <real>14.583</real>
      <integer>121</integer>
    </array>
    <key>Asia/Karachi</key>
    <array>
      <real>24.867</real>
      <real>67.05</real>
    </array>
    <key>Europe/Warsaw</key>
    <array>
      <real>52.25</real>
      <integer>21</integer>
    </array>
    <key>America/Miquelon</key>
    <array>
      <real>47.05</real>
      <real>-56.333</real>
    </array>
    <key>Pacific/Pitcairn</key>
    <array>
      <real>-25.067</real>
      <real>-130.083</real>
    </array>
    <key>America/Puerto_Rico</key>
    <array>
      <real>18.468</real>
      <real>-66.106</real>
    </array>
    <key>Asia/Gaza</key>
    <array>
      <real>31.5</real>
      <real>34.467</real>
    </array>
    <key>Asia/Hebron</key>
    <array>
      <real>31.533</real>
      <real>35.095</real>
    </array>
    <key>Europe/Lisbon</key>
    <array>
      <real>38.717</real>
      <real>-9.133</real>
    </array>
    <key>Atlantic/Madeira</key>
    <array>
      <real>32.633</real>
      <real>-16.9</real>
    </array>
    <key>Atlantic/Azores</key>
    <array>
      <real>37.733</real>
      <real>-25.667</real>
    </array>
    <key>Pacific/Palau</key>
    <array>
      <real>7.333</real>
      <real>134.483</real>
    </array>
    <key>America/Asuncion</key>
    <array>
      <real>-25.267</real>
      <real>-57.667</real>
    </array>
    <key>Asia/Qatar</key>
    <array>
      <real>25.283</real>
      <real>51.533</real>
    </array>
    <key>Indian/Reunion</key>
    <array>
      <real>-20.867</real>
      <real>55.467</real>
    </array>
    <key>Europe/Bucharest</key>
    <array>
      <real>44.433</real>
      <real>26.1</real>
    </array>
    <key>Europe/Belgrade</key>
    <array>
      <real>44.833</real>
      <real>20.5</real>
    </array>
    <key>Europe/Kaliningrad</key>
    <array>
      <real>54.717</real>
      <real>20.5</real>
    </array>
    <key>Europe/Moscow</key>
    <array>
      <real>55.756</real>
      <real>37.618</real>
    </array>
    <key>Europe/Simferopol</key>
    <array>
      <real>44.95</real>
      <real>34.1</real>
    </array>
    <key>Europe/Kirov</key>
    <array>
      <real>58.6</real>
      <real>49.65</real>
    </array>
    <key>Europe/Astrakhan</key>
    <array>
      <real>46.35</real>
      <real>48.05</real>
    </array>
    <key>Europe/Volgograd</key>
    <array>
      <real>48.733</real>
      <real>44.417</real>
    </array>
    <key>Europe/Saratov</key>
    <array>
      <real>51.567</real>
      <real>46.033</real>
    </array>
    <key>Europe/Ulyanovsk</key>
    <array>
      <real>54.333</real>
      <real>48.4</real>
    </array>
    <key>Europe/Samara</key>
    <array>
      <real>53.2</real>
      <real>50.15</real>
    </array>
    <key>Asia/Yekaterinburg</key>
    <array>
      <real>56.85</real>
      <real>60.6</real>
    </array>
    <key>Asia/Omsk</key>
    <array>
      <integer>55</integer>
      <real>73.4</real>
    </array>
    <key>Asia/Novosibirsk</key>
    <array>
      <real>55.033</real>
      <real>82.917</real>
    </array>
    <key>Asia/Barnaul</key>
    <array>
      <real>53.367</real>
      <real>83.75</real>
    </array>
    <key>Asia/Tomsk</key>
    <array>
      <real>56.5</real>
      <real>84.967</real>
    </array>
    <key>Asia/Novokuznetsk</key>
    <array>
      <real>53.75</real>
      <real>87.117</real>
    </array>
    <key>Asia/Krasnoyarsk</key>
    <array>
      <real>56.017</real>
      <real>92.833</real>
    </array>
    <key>Asia/Irkutsk</key>
    <array>
      <real>52.267</real>
      <real>104.333</real>
    </array>
    <key>Asia/Chita</key>
    <array>
      <real>52.05</real>
      <real>113.467</real>
    </array>
    <key>Asia/Yakutsk</key>
    <array>
      <integer>62</integer>
      <real>129.667</real>
    </array>
    <key>Asia/Khandyga</key>
    <array>
      <real>62.656</real>
      <real>135.554</real>
    </array>
    <key>Asia/Vladivostok</key>
    <array>
      <real>43.167</real>
      <real>131.933</real>
    </array>
    <key>Asia/Ust-Nera</key>
    <array>
      <real>64.56</real>
      <real>143.227</real>
    </array>
    <key>Asia/Magadan</key>
    <array>
      <real>59.567</real>
      <real>150.8</real>
    </array>
    <key>Asia/Sakhalin</key>
    <array>
      <real>46.967</real>
      <real>142.7</real>
    </array>
    <key>Asia/Srednekolymsk</key>
    <array>
      <real>67.467</real>
      <real>153.717</real>
    </array>
    <key>Asia/Kamchatka</key>
    <array>
      <real>53.017</real>
      <real>158.65</real>
    </array>
    <key>Asia/Anadyr</key>
    <array>
      <real>64.75</real>
      <real>177.483</real>
    </array>
    <key>Asia/Riyadh</key>
    <array>
      <real>24.633</real>
      <real>46.717</real>
    </array>
    <key>Pacific/Guadalcanal</key>
    <array>
      <real>-9.533</real>
      <real>160.2</real>
    </array>
    <key>Indian/Mahe</key>
    <array>
      <real>-4.667</real>
      <real>55.467</real>
    </array>
    <key>Africa/Khartoum</key>
    <array>
      <real>15.6</real>
      <real>32.533</real>
    </array>
    <key>Europe/Stockholm</key>
    <array>
      <real>59.333</real>
      <real>18.05</real>
    </array>
    <key>Asia/Singapore</key>
    <array>
      <real>1.283</real>
      <real>103.85</real>
    </array>
    <key>America/Paramaribo</key>
    <array>
      <real>5.833</real>
      <real>-55.167</real>
    </array>
    <key>Africa/Juba</key>
    <array>
      <real>4.85</real>
      <real>31.617</real>
    </array>
    <key>Africa/Sao_Tome</key>
    <array>
      <real>0.333</real>
      <real>6.733</real>
    </array>
    <key>America/El_Salvador</key>
    <array>
      <real>13.7</real>
      <real>-89.2</real>
    </array>
    <key>Asia/Damascus</key>
    <array>
      <real>33.5</real>
      <real>36.3</real>
    </array>
    <key>America/Grand_Turk</key>
    <array>
      <real>21.467</real>
      <real>-71.133</real>
    </array>
    <key>Africa/Ndjamena</key>
    <array>
      <real>12.117</real>
      <real>15.05</real>
    </array>
    <key>Indian/Kerguelen</key>
    <array>
      <real>-49.353</real>
      <real>70.218</real>
    </array>
    <key>Asia/Bangkok</key>
    <array>
      <real>13.75</real>
      <real>100.517</real>
    </array>
    <key>Asia/Dushanbe</key>
    <array>
      <real>38.583</real>
      <real>68.8</real>
    </array>
    <key>Pacific/Fakaofo</key>
    <array>
      <real>-9.367</real>
      <real>-171.233</real>
    </array>
    <key>Asia/Dili</key>
    <array>
      <real>-8.55</real>
      <real>125.583</real>
    </array>
    <key>Asia/Ashgabat</key>
    <array>
      <real>37.95</real>
      <real>58.383</real>
    </array>
    <key>Africa/Tunis</key>
    <array>
      <real>36.8</real>
      <real>10.183</real>
    </array>
    <key>Pacific/Tongatapu</key>
    <array>
      <real>-21.167</real>
      <real>-175.167</real>
    </array>
    <key>Europe/Istanbul</key>
    <array>
      <real>41.017</real>
      <real>28.967</real>
    </array>
    <key>America/Port_of_Spain</key>
    <array>
      <real>10.65</real>
      <real>-61.517</real>
    </array>
    <key>Pacific/Funafuti</key>
    <array>
      <real>-8.517</real>
      <real>179.217</real>
    </array>
    <key>Asia/Taipei</key>
    <array>
      <real>25.05</real>
      <real>121.5</real>
    </array>
    <key>Europe/Kiev</key>
    <array>
      <real>50.433</real>
      <real>30.517</real>
    </array>
    <key>Europe/Uzhgorod</key>
    <array>
      <real>48.617</real>
      <real>22.3</real>
    </array>
    <key>Europe/Zaporozhye</key>
    <array>
      <real>47.833</real>
      <real>35.167</real>
    </array>
    <key>Pacific/Wake</key>
    <array>
      <real>19.283</real>
      <real>166.617</real>
    </array>
    <key>America/New_York</key>
    <array>
      <real>40.714</real>
      <real>-74.006</real>
    </array>
    <key>America/Detroit</key>
    <array>
      <real>42.331</real>
      <real>-83.046</real>
    </array>
    <key>America/Kentucky/Louisville</key>
    <array>
      <real>38.254</real>
      <real>-85.759</real>
    </array>
    <key>America/Kentucky/Monticello</key>
    <array>
      <real>36.83</real>
      <real>-84.849</real>
    </array>
    <key>America/Indiana/Indianapolis</key>
    <array>
      <real>39.768</real>
      <real>-86.158</real>
    </array>
    <key>America/Indiana/Vincennes</key>
    <array>
      <real>38.677</real>
      <real>-87.529</real>
    </array>
    <key>America/Indiana/Winamac</key>
    <array>
      <real>41.051</real>
      <real>-86.603</real>
    </array>
    <key>America/Indiana/Marengo</key>
    <array>
      <real>38.376</real>
      <real>-86.345</real>
    </array>
    <key>America/Indiana/Petersburg</key>
    <array>
      <real>38.492</real>
      <real>-87.279</real>
    </array>
    <key>America/Indiana/Vevay</key>
    <array>
      <real>38.748</real>
      <real>-85.067</real>
    </array>
    <key>America/Chicago</key>
    <array>
      <real>41.85</real>
      <real>-87.65</real>
    </array>
    <key>America/Indiana/Tell_City</key>
    <array>
      <real>37.953</real>
      <real>-86.761</real>
    </array>
    <key>America/Indiana/Knox</key>
    <array>
      <real>41.296</real>
      <real>-86.625</real>
    </array>
    <key>America/Menominee</key>
    <array>
      <real>45.108</real>
      <real>-87.614</real>
    </array>
    <key>America/North_Dakota/Center</key>
    <array>
      <real>47.116</real>
      <real>-101.299</real>
    </array>
    <key>America/North_Dakota/New_Salem</key>
    <array>
      <real>46.845</real>
      <real>-101.411</real>
    </array>
    <key>America/North_Dakota/Beulah</key>
    <array>
      <real>47.264</real>
      <real>-101.778</real>
    </array>
    <key>America/Denver</key>
    <array>
      <real>39.739</real>
      <real>-104.984</real>
    </array>
    <key>America/Boise</key>
    <array>
      <real>43.614</real>
      <real>-116.203</real>
    </array>
    <key>America/Phoenix</key>
    <array>
      <real>33.448</real>
      <real>-112.073</real>
    </array>
    <key>America/Los_Angeles</key>
    <array>
      <real>34.052</real>
      <real>-118.243</real>
    </array>
    <key>America/Anchorage</key>
    <array>
      <real>61.218</real>
      <real>-149.9</real>
    </array>
    <key>America/Juneau</key>
    <array>
      <real>58.302</real>
      <real>-134.42</real>
    </array>
    <key>America/Sitka</key>
    <array>
      <real>57.176</real>
      <real>-135.302</real>
    </array>
    <key>America/Metlakatla</key>
    <array>
      <real>55.127</real>
      <real>-131.576</real>
    </array>
    <key>America/Yakutat</key>
    <array>
      <real>59.547</real>
      <real>-139.727</real>
    </array>
    <key>America/Nome</key>
    <array>
      <real>64.501</real>
      <real>-165.406</real>
    </array>
    <key>America/Adak</key>
    <array>
      <real>51.88</real>
      <real>-176.658</real>
    </array>
    <key>Pacific/Honolulu</key>
    <array>
      <real>21.307</real>
      <real>-157.858</real>
    </array>
    <key>America/Montevideo</key>
    <array>
      <real>-34.909</real>
      <real>-56.213</real>
    </array>
    <key>Asia/Samarkand</key>
    <array>
      <real>39.667</real>
      <real>66.8</real>
    </array>
    <key>Asia/Tashkent</key>
    <array>
      <real>41.333</real>
      <real>69.3</real>
    </array>
    <key>America/Caracas</key>
    <array>
      <real>10.5</real>
      <real>-66.933</real>
    </array>
    <key>Asia/Ho_Chi_Minh</key>
    <array>
      <real>10.75</real>
      <real>106.667</real>
    </array>
    <key>Pacific/Efate</key>
    <array>
      <real>-17.667</real>
      <real>168.417</real>
    </array>
    <key>Pacific/Wallis</key>
    <array>
      <real>-13.3</real>
      <real>-176.167</real>
    </array>
    <key>Pacific/Apia</key>
    <array>
      <real>-13.833</real>
      <real>-171.733</real>
    </array>
    <key>Africa/Johannesburg</key>
    <array>
      <real>-26.25</real>
      <integer>28</integer>
    </array>
  </dict>
</plist>